.fwb-wrapper {
	width: 100%;
	position: fixed;
	display: flex;
	right: 0;
	bottom: 0;
	justify-content: flex-end;
}

.fwb-button {
	text-decoration: none;
	color: white;
	padding: 2rem;
	font-size: 2rem;
	width: 4rem;
	height: 4rem;
	background-color: #25D366;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem;
}
